button:focus {
  outline: 0;
}
button {
  padding-left: 0;
}
ul.undressed {
  list-style-type: none;
  padding: 0;
}

ul.undressed > li {
  font-family: verdana;
  font-size: 20px;
}

button.removeItem {
  background-color: white;
  border: none;
}

button.removeItem * {
  cursor: pointer;
  pointer-events: none;
}

button.accept {
  background-color: white;
  border: none;
  font-size: 1.5em;
}

button.accept * {
  cursor: pointer;
  pointer-events: none;
}

button.careful {
  background-color: white;
  border-color: black;
  font-weight: bold;
}

button.decline {
  background-color: white;
  border: none;
  font-size: 1.5em;
}
button.decline * {
  cursor: pointer;
  pointer-events: none;
}

input.fancyCheck {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

input.fancyCheck:active,
input.fancyCheck:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input.fancyCheck:checked {
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
